@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inherits LayoutComponentBase

<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<div style="height: 100vh">
    <AuthorizeView>
        <div>
            <NavMenu/>
        </div>
    </AuthorizeView>

    <main style="height: 100%">
        @Body
    </main>
</div>

@code {
    [CascadingParameter] public Task<AuthenticationState> AuthenticationState { get; set; }
    [Inject] public NavigationManager NavigationManager { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (await IsAuthenticated() == false)
        {
            NavigationManager.NavigateTo("/sign-in");
        }
    }

    private async Task<bool> IsAuthenticated()
    {
        var authState = await AuthenticationState;
        var user = authState?.User;

        return user?.Identity is not null && user.Identity.IsAuthenticated;
    }

}